# Create databases of stock prices of top 30 companies of INDIA and USA

In [1]:
import sqlalchemy
import pandas as pd
import yfinance as yf

In [ ]:
# We are getting all the top 30 stock tickers (Abbrevations) of USA and INDIA from WIKIPEDIA

In [2]:
wiki = 'https://en.wikipedia.org/wiki/'

In [3]:
tickersSensex = pd.read_html(wiki+'BSE_SENSEX')[1].Symbol.to_list()
tickersDow = pd.read_html(wiki+'Dow_Jones_Industrial_Average')[1].Symbol.to_list()

In [ ]:
#We will download all the stock prices till date using tickers got from wiki using yfinance and create datasets

In [4]:
def getdata(tickers):
    data = []
    for ticker in tickers:
        data.append(yf.download(ticker).reset_index())
    return data

In [5]:
India , USA = getdata(tickersSensex),getdata(tickersDow)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
India[0]

,Date,Open,High,Low,Close,Adj Close,Volume
0,2000-01-03,23.437500,24.687500,23.437500,24.371876,17.633728,238128.0
1,2000-01-04,23.750000,24.468750,23.375000,24.375000,17.635994,222840.0
2,2000-01-05,24.062500,24.125000,23.456249,24.125000,17.455112,168648.0
3,2000-01-06,24.000000,24.062500,23.565624,23.750000,17.183784,127728.0
4,2000-01-07,23.437500,24.250000,23.437500,23.937500,17.319443,3416664.0
...,...,...,...,...,...,...,...
5392,2022-08-03,3403.899902,3447.000000,3372.600098,3439.699951,3439.699951,29441.0
5393,2022-08-04,3450.149902,3475.000000,3409.300049,3459.449951,3459.449951,78722.0
5394,2022-08-05,3463.000000,3490.500000,3452.800049,3473.449951,3473.449951,18368.0
5395,2022-08-08,3451.000000,3475.899902,3437.149902,3456.500000,3456.500000,14688.0
5396,2022-08-10,3460.000000,3460.000000,3395.350098,3412.449951,3412.449951,18986.0

In [ ]:
#Created Engine or db connection and created database with desired names

In [52]:
def createengine(name):
    engine = sqlalchemy.create_engine('mysql+pymysql://root:thor1729@localhost/'+name)
    try:
        engine.execute('create database '+name)
    except:
        pass
    engine.execute("USE "+name)
    return engine

In [53]:
IndiaEngine, USAEngine = createengine('India'),createengine('USA')

In [ ]:
#Added all the tables of companies of respective country to their databases

In [56]:
def TOSQL(frames,symbols,engine):
    for frame,symbol in zip(frames,symbols):
        try:
            frame.to_sql(symbol.split(".")[0],engine,index=False)
        except:
            pass
    print('Success')

In [57]:
TOSQL(India,tickersSensex,IndiaEngine)

Success

In [58]:
TOSQL(USA,tickersDow,USAEngine)

Success