# Use India DB of stock prices and calculate values and predict buying decision

In [109]:
import ta
import sqlalchemy
import pandas as pd
import pymysql

In [110]:
engine = sqlalchemy.create_engine('mysql+pymysql://root:thor1729@localhost/India')

In [ ]:
#connected to India database and got all the table names in database

In [111]:
names = pd.read_sql('SELECT table_name FROM information_schema.tables WHERE table_schema = "India"',engine)

In [112]:
name = []

In [113]:
for i in names['TABLE_NAME']:
    name.append(i)

In [ ]:
#Couldnot get 2 tables as their names had '-' in them. rest all tables are extracted with Data and close columns

In [114]:
framelist = []
for i in name:
    try:
        framelist.append(pd.read_sql(f'select Date,Close from '+i,engine))
    except:
        pass

In [115]:
len(framelist)

28

In [ ]:
#Created functions to calculate indicators to make buying decision us ta library

In [120]:
def MACDdecision(df):
    df['MACD_Diff']=ta.trend.macd_diff(df.Close)
    df.loc[(df.MACD_Diff>0) &  (df.MACD_Diff.shift(1)<0),'Decision_MACD'] = 'BUY'

In [121]:
def RSI_SMAdecision(df):
    df['RSI'] = ta.momentum.rsi(df.Close,window = 10)
    df['SMA200'] = ta.trend.sma_indicator(df.Close, window = 200)
    df.loc[(df.Close > df.SMA200) & (df.RSI < 30) , 'Decision RSI/SMA'] = 'BUY'

In [ ]:
#Performed calculations on all the stock and created columns inside each dataframe

In [123]:
for frame in framelist:
    MACDdecision(frame)
    RSI_SMAdecision(frame)

In [125]:
framelist[0]

,Date,Close,MACD_Diff,Decision_MACD,RSI,SMA200,Decision RSI/SMA
0,2000-01-03,24.371876,NaN,NaN,NaN,NaN,NaN
1,2000-01-04,24.375000,NaN,NaN,NaN,NaN,NaN
2,2000-01-05,24.125000,NaN,NaN,NaN,NaN,NaN
3,2000-01-06,23.750000,NaN,NaN,NaN,NaN,NaN
4,2000-01-07,23.937500,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
5392,2022-08-03,3439.699951,37.736674,NaN,90.182358,3090.931492,NaN
5393,2022-08-04,3459.449951,36.928970,NaN,90.672495,3092.017742,NaN
5394,2022-08-05,3473.449951,34.350488,NaN,91.025389,3093.464741,NaN
5395,2022-08-08,3456.500000,28.743839,NaN,86.617002,3094.903992,NaN
5396,2022-08-10,3412.449951,19.738125,NaN,75.990036,3096.948741,NaN

In [ ]:
#Checked for a buying decison in all 28 stocks of India and got one buying decision in favor

In [128]:
for nam,frame in zip(name,framelist):
    if frame['Decision_MACD'].iloc[-1] == 'BUY':
        print('Buying Signal MACD for '+nam)
    if frame['Decision RSI/SMA'].iloc[-1] == 'BUY':
        print('Buying Signal RSI/MSA for '+nam)

Buying Signal MACD for KOTAKBANK

# The below code is to update stock prices in SQL and also if you want to do daily

In [ ]:
for nam in name:
    df1 = yf.download(name,start= '2022-08-10')[2:].reset_index()
    df1.to_sql(nam,engine,if_exists = 'append', index = False)

In [ ]:
import datetime as dt

In [ ]:
for nam in names:
    df1 = yf.download(name,start= dt.datetime.now()).reset_index()
    df1.to_sql(nam,engine,if_exists = 'append', index = False)